*{/*todos los elementos*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Arimo'=sans-serif;
}

/*nav bar*/
.titulo{
  text-align: left;
    font-size: 1.5rem;
    font-family:'arimo'=sans-serif;
    color:#CBE4DE;
}
.principal{
    text-align: center;
    padding-inline-start: 20%;
    font-size: 0.5rem;
    font-family:'arimo'=sans-serif;
    color:#CBE4DE;
}
.animate__animated.animate__fadeInDown{
--animate-duration: 4s;}

a{
    color:#CBE4DE;
    text-decoration: none;
}

a:hover{
    background-color: #2771e8;
}

.containerLogo{
  width: 60px;
  height:70px;
  border-radius: 50%;
}

.containMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2C3333;
}


.navegation{
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.containerH1{
  width: 100%;
  display: flex;
  justify-content:left;
  padding-inline-start: 2.5%;
  color:#CBE4DE;/*white*/
  overflow: hidden;
  align-items: center;
  text-align: center;  
}

.logo{
  border-radius: 50%;
}

.containernavh1Logo{
  display:flex;
 justify-content: center; 
  width: 100%;
  height: 70px;
  background-color:#0E8388; /*#331ad5;*/
}

  .curso {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 36px;
    color: #333333;
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
    color: #666666;
    margin-bottom: 20px;
  }

  .leermas {
    margin-bottom: 20px;
  }
  
  .leermas a {
    color: #008CBA;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #666666;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005F6B;
  }
  a{
    text-decoration: none;
  }

  .footer{
    text-align: center;
    margin-top: 100px;
    background:#0E8388;/*#331ad5;*/
}


.contfooter {
    display: flex;
    justify-content: center;
    gap: 30px;
   
}
.contenedor a{
    font-size: 25px;
    transition: all ease 300ms;    
}
.contenedor-icono {
    color: white;
}

.contenedor a:hover{
    transform: scale(1.2);
}

.h3{
    font-family:'arimo'=sans-serif;
    color: aliceblue;
}