*{
    text-align: start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}          
.campo{
width: 400;
background-color: #caf3ff;
padding: 1px;
margin: 12px;
margin-top: 8px;
border-radius: 8px;
font-family: Arial, Helvetica, sans-serif;
color: black;
box-shadow: 7px 50px 25px #000000;
text-align: left;

}
.form-container {
    width: 600px;
    background-color: #40c8c1;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 25px;
    box-shadow:inset 7px 13px 37px #000000;
}
h2{
    color:black;
    text-align: left;
}


#btn{
width:15% ;
height: 20%;
font-size: 22px;
color: black;
border-radius: 8px;
text-align: center;
background-color: yellow;

}