body{
    background: linear-gradient(90deg,#38383d,#cef7f7);
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
 }
.container h1{
    text-align: center;
    font-size: 30px;
}

.nosotros{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.data{ width: 500px;
    height: 400px;
    float: left;
    

}
.data img{
   float: left;
    padding: 15px;
}
.data p{
    display: flex;
    float: right;
    padding: 15px;
    margin: flex;
}
 

