*{/*todos los elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'arimo'=sans-serif;
   size: 800 , 600;

}

/*sí está*/
body{
    background: #2771e8
}

/*no está*/
*particulas*/
/* ---- reset ---- */

/*sí está espacio entre párrafo inicial */
{
margin: 0;
}

canvas {
display: block;
vertical-align: bottom;
}/* ---- particles.js container ---- */
#particles-js {
position: absolute;
width: 100%;
height: 100%;
background-color: transparent;
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
background: transparent;
position: absolute;
top: 48px;
left: 0;
width: 80px;
color: transparent;
font-size: 0.8em;
text-align: left;
text-indent: 4px;
line-height: 14px;
padding-bottom: 2px;
font-family: Helvetica, Arial, sans-serif;
font-weight: bold;
}
.js-count-particles {
font-size: 1.1em;
}
#stats,
.count-particles {
-webkit-user-select: none;
margin-top: 5px;
margin-left: 5px;
}
#stats {
border-radius: 3px 3px 0 0;
overflow: hidden;
}
.count-particles {
border-radius: 0 0 3px 3px;
}
 /*fin de particulas*/

/*nav bar*/
.titulo {
    text-align: left;
    font-size: 1.5rem;
    font-family:'arimo'=sans-serif;
    color:#CBE4DE;
}
.principal{
    text-align: center;
    padding-inline-start: 20%;
    font-size: 0.5rem;
    font-family:'arimo'=sans-serif;
    color:#CBE4DE;
}
/*animacion de cada elemento de la lanpage*/
.animate__animated.animate__fadeInDown{
    --animate-duration:5s;
    animation-iteration-count: infinite ;
}
.animate__animated.animate__fadeInDownBig{
--animate-duration:5s;
-o-animation-direction: alternate-reverse;
animation-iteration-count: infinite ;
}
/*fin de animación*/

/*color letras de menú principal*/
a{
    color:#CBE4DE;
    text-decoration: none;
}

/*no lo encuentro*/
/*a:hover{
    background-color: #2771e8;
}*/ 

/*no lo encuentro*/
.containerLogo{
    width: 60px;
    height:70px;
    border-radius: 50%;
}

/*no lo encuentro*/
.containMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2C3333;
}
header{
    background-color: #2771e8;
}

/*section-cursos*/
section{
    padding-top: 10%;
    background-color: #2771e8;
    font-family:'arimo'=sans-serif;
}/*agrego section*/

nav.navegation{
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    height: 55px;
    flex-direction: row;
    align-items: center;
}
nav.navegation :hover{
    color:#000000
}
/*esto es de nav bar*/
.containerH1{
    width: 100%;
    display: flex;
    justify-content:left;
    padding-inline-start: 2.5%;
    color:#CBE4DE;/*white*/
    overflow: hidden;
    align-items: center;
    text-align: center;  
}
/*si está*/
.logo{
    border-radius: 50%;
}

/*si está*/
.containernavh1Logo{
    display:flex;
   justify-content: center; 
    width: 100%;
    height: 70px;
    background-color:#0E8388; /*#331ad5;*/
    
}

.home{
   /*margin-top: 10%;*/
    padding: 5%;
    font-family:'arimo'=sans-serif;
    color: #CBE4DE;/*white;*/
    text-align: center; 
    font-style: bold;
    font-size: 2rem;
}

/*sí está*/
.unete{
    font-family:'arimo'=sans-serif;
    color: rgb(52, 51, 51);
    text-align: right;
    margin-top: 5%;
    font-size: 1.5rem;
}

/*si está*/
.registrate{
    font-family:'arimo'=sans-serif;
    color: rgb(52, 51, 51);
    text-align: right;
    margin-top: 2%;
    font-size: 1rem;
}
/*si está*/
/* estilo del slider*/
main {
    width: 100%;
    height: 100%;
}

/*si está*/
.container__slider {
    height: 90%;
    width: 90%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 15px 50px;
    position: relative;
    margin-top: 15%;
}

/*si está*/
.slider {
    display: flex;
    width: 300%;
    height: 400px;
    margin-left: -100%;
}

/*si está*/
.slider__section {
    width: 100%;
}

/*si está*/
.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/*si está*/
/*estilo form para index*/

  
 
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  
  label {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #666666;
    border-radius: 5px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #666666;
    border-radius: 5px;
  }
  button[type="button"] {
    background-color: #331ad5;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #005F6B;
  }
 #step-2 {
    display: none;
  }
  
#summary {

         padding: 10px;
        width: 600px;
        background-color: #40c8c1;
        padding: 20px;
        margin: auto;
        margin-top: 100px;
        border-radius: 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: 25px;
        box-shadow:inset 7px 13px 37px #000000;
        padding: 10px;
}
    
#summary[id="back-btn"]:hover{
    background-color: red;
} 

/*fin de estilo form index*/

/*si está*/
.formulario{ 
    width: 15%;
    height: 25%;
    border: solid;
    color: #2C3333;
    display: block;
    justify-content: center;
    font-size: 1.5 rem;
    line-height: 1.6 em;margin: 0;
}
/*para for*/

/*Cursos*/
.ncursos{
    font-family:'arimo'=sans-serif;
    text-align: left;
    color: white;
    font-size: 1.8rem;
    margin: 5%;
}

.containerCursos{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
}

.animate__animated.animate__backInRight{
--animate-duration: 4s; 
}

/*.containerMenu{  
    width: 90%;  
    background:#2771e8;
    grid-template-columns: auto auto auto;
    display: flex;
   flex-direction: row;
   align-items: center;   
}*/

/*si está cajas de cursos*/
.contenedorimg{
    width: 25%;
    margin: 20px;  
}

/*sí está cajas de curso*/
#htmlimg{

    width: 100%;
    transition: 0.5s;
    object-fit: contain;
}
/*sí está cajas de curso*/
#htmlimg:hover{
    transform:scale(1.2);
}

/*nosotros*/
.tnosotros{
    text-align: center;
    font-family:'arimo'=sans-serif;
    padding: 20px;
    font-size: 1.8rem;
    color: white;
}

.nombres9{
    font-family:'arimo'=sans-serif;
    font-size: 1.5rem;
    color: white;
}


.nosotros{
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;}


@media (max-width:768px) {
.nosotros{ 
     display: block;
     margin:0;
     font-size:0,5rem;
     text-aligh:center
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}}



    
/*sí está imag nuestras*/
.data{ width: 300px;
    height: 500px;
    float: left;  
}
.data img{
   float: left;
    padding: 15px;
}
.data p{
    font-family:'arimo'=sans-serif;
    display: flex;
    float: right;
    padding: 15px;
    margin: flex;
}

/* formularios*/
.Contáctanos{
    font-family:'arimo'=sans-serif;
    text-align: right;
    color: white;
    font-size: 1.8rem;
    padding-inline-end: 10%;
}

.tins{
    font-family:'arimo'=sans-serif;
    text-align: right;
    color: white;
    font-size: 1.5rem;
    padding-top: 4%;
    padding-inline-end: 10.8%;
}

.tcons{
    font-family:'arimo'=sans-serif;
    text-align: right;
    color: white;
    font-size: 1.5rem;
    padding-top: 3%;
    padding-inline-end: 10.8%; 
}

/*sí está*/
.irainicio{
    font-family:'arimo'=sans-serif;
    text-align: right;
    color: white;
    font-size: 1.5rem;
    padding-top: 3%;
    padding-inline-end: 10.8%; 

}

/*footer*/
/*sí está*/
.footer{
    text-align: center;
    margin-top: 100px;
    background:#0E8388;/*#331ad5;*/
}

/*no lo encuentro*/
.contfooter {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*no lo encuentro*/
.contenedor a{
    font-size: 25px;
    transition: all ease 300ms;    
}*/

/*no lo encuentro*/
.contenedor-icono {
    color: white;
}

/*no lo encuentro*/
.contenedor a:hover{
    transform: scale(1.2);
}

/*no lo encuentro*/
.h3{
    font-family:'arimo'=sans-serif;
    color: aliceblue;
}

