body{
        background: linear-gradient(#2771e8,#caf3ff,#40c8c1);
}
.containernavh1Logo{
        display:flex;
        justify-content: center;
        justify-content: space-between;
        width: 100%;
        background-color: #0E8388;
}
    
    .navegation{
        display: flex;
        justify-content: space-around;
        width: 25%;
}
a{
        color:#CBE4DE;
        text-decoration: none;
}
a:hover{
        background-color: #2771e8;}
    
.containerH1{
        width: 50%;
        display: flex;
        justify-content: center;
        color: #2C3333;
}
    
    .containerLogo{
        width: 25%;
}
    
.formulario{ 
        width: 15%;
        height: 25%;
        border: solid;
        color: #2C3333;
        display: flex;
        justify-content: center;
        font-size: 1.5 rem;
        line-height: 1.6 em;margin: 0;

}
    
.contenedorimg{
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 20px;
        
}
#htmlimg{
        width: 150px;
        height: 150px;
        transition: 0.5s;
        object-fit: contain;
    
}
#htmlimg:hover{
        transform:scale(1.2);
}
    
.containerCursos{
        background: linear-gradient(#2771e8,#caf3ff,#40c8c1);

        width: 600px;
        height: 380px;
       display: flex;
        flex-wrap: wrap;
}
    
.containerMenu{    
        background: linear-gradient(#2771e8,#caf3ff,#40c8c1);
        display: flex;
       align-content: center;
       justify-content: center;
       
}
.footer{
        text-align: center;
        margin-top: 250px;
        background-color:#0E8388;
 }