body{
    background: linear-gradient(#2771e8,#caf3ff,#40c8c1);
}

.containernavh1Logo{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: #0E8388;
}

.navegation{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
a{
    color:#CBE4DE;;
}

.containerH1{
    width: 50%;
    display: flex;
    justify-content: center;
    color: #2C3333;
}

/*.containerLogo{
    width: 25%;
}*/

.container{
    display: flex;
    align-content: center;
    justify-content: center;
 }
.container h1{
    text-align: center;
    font-size: 30px;
}

.nosotros{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

img[src= "/css/imagenes/log/Academia tech.png"]{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
    top: 15px;
    }

    
.data{ width: 300px;
    height: 500px;
    float: left;
    

}
.data img{
   float: left;
    padding: 15px;
}
.data p{
    display: flex;
    float: right;
    padding: 15px;
    margin: flex;
}
header{
    background-color:#ffff ;


}
footer{
    text-align: center;
    margin-top: 100px;
    background-color:#0E8388;
}