*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #40c8c1;
    box-sizing: border-box;
} 

h2{
    color: #000000;
    text-align: center;
}
.form-container {
    width: 400px;
    margin:0 auto;
    padding: 20px;
    background-color: #2771e8;
    color: #40c8c1 ;
    border-radius: 4px;
    font-size: 19px;
    box-shadow: #40c8c1;
    box-shadow: 7px 50px 25px #000000;
}

input, textarea{
    outline: #2771e8;
    border: px;
    width: 280px;
    color: #2771e8;
    text-align: center;
    border-radius: 6px;
}

.name{

border: solid 1px #2771e8;
}

.class:focus{
    border-color: blue;
}
#primerparrafo {
    text-align: left;
    color: #000000;
    display: inline-table;
 }



 