

.contenedorhtml{ 
   
    border: solid black 4px;
    width: 300px;
    height: 290px;
}
.containernavh1Logo{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: #0E8388;
}

.navegation{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
a{
    color:#CBE4DE;;
}

.containerH1{
    width: 50%;
    display: flex;
    justify-content: center;
    color: #2C3333;
}

.containerLogo{
    width: 25%;
}

#imghtml{
    width: 100px;
    height: 100px;
}
button{
    width: 90px;
    height: 20px;
    border-radius: 50em;
    display: flex;
    align-items: center;
}


#menucurso{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;

    
}

h1{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 30px;
    background-color:#0E8388;
}

