

.contenedorhtml{ 
   
    border: solid black 4px;
    width: 300px;
    height: 290px;
}

#imghtml{
    width: 100px;
    height: 100px;
}
button{
    width: 90px;
    height: 20px;
    border-radius: 50em;
    display: flex;
    align-items: center;
}


#menucurso{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;

    
}

h1{
    text-align: center;
}


